# "org" ensures this Service is used with the correct Serverless Framework Access Key.
org: soumya1998
# "app" enables Serverless Framework Dashboard features and sharing them with other Services.
app: serverless-app-main
# "service" is the name of this project. This will also be added to your AWS resource names.
service: final-aws-ses

provider:
  name: aws
  runtime: python3.12
  region: ap-south-1
  httpApi:
    cors:
      allowedOrigins:
        - "http://localhost:3000"   # your frontend origin
      allowedHeaders:
        - Content-Type
      allowedMethods:
        - GET
        - POST
        - OPTIONS
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - "ses:*"
          Resource: "*"
        - Effect: Allow
          Action:
          - "logs:CreateLogGroup"
          - "logs:CreateLogStream"
          - "logs:PutLogEvents"
          Resource: "*"

functions:
  create:
    handler: handler.createContact
    events:
      - httpApi:
          path: /contact
          method: post

package:
  exclude:
    - front-end/**


